<h1>Início do Template Principal</h1>

<nav>
    <a routerLink="hello-world" routerLinkActive="active">Hello World</a>
    <a routerLink="data-binding" routerLinkActive="active">Data Binding Examples</a>
    <a routerLink="directives" routerLinkActive="active">Directive Examples</a>
    <a routerLink="customers" routerLinkActive="active">Injection Example</a>
    <a routerLink="reactive-form" routerLinkActive="active">Reactive Form</a>
    <a routerLink="template-form" routerLinkActive="active">Template Form</a>
    <a routerLink="Weather" routerLinkActive="active">Weather</a>
</nav>

<router-outlet />
<p>Fim do Template Principal</p>

<p>Posso acessar o Data Binding? <input type="checkbox" [checked]="acessoLiberado" (change)="alterarAcesso($event)"></p>
